.lbl {
    font-size: 24px;

    &-login{
          color: #ffffff;

    font-size: 32px;

    }
  &-white{
    color: #fff
  }
}



.inp {
  // width: 100%;
  padding: 16px;
  border: none;
  border-radius: 15px;
    font-size: 32px;



  &-primary {
    background-color: $inp-primary;

    &:focus {
    outline: none;
    border-color: #4245ba;
  }
  }
}

.slct {
  // width: 100%;
  padding: 16px;
  border: none;
  border-radius: 15px;
    font-size: 32px;



  &-primary {
    background-color: $inp-primary;

    &:focus {
    outline: none;
    border-color: #4245ba;
  }
  }
}

.btn {
  width: 100%;
  padding: 16px;
  margin-top: 20px;
  border: none;
  border-radius: 15px;
    font-size: 32px;

  &-primary {
    color: $color-white;
    background-color: $btn-primary;
    &:hover {
      background-color: darken($btn-primary, 10%);
      cursor: pointer;
    }
  }


}


