.left-sidebar {
    background-color: #B2E2F2;
    width: 240px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top-right-radius: 30px;
}

  .logo-block {
      display: flex;
      align-items: center;
      gap: 10px;
  }

  .logo-img {
      width: 65px;
      height: 60px;
  }

  .logo-text span {
      display: block;
      font-weight: bold;
      font-size: 24px;
      color: #FF6F61;
  }

  .sidebar-nav {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }

  // .nav-btn {
  //     display: flex;
  //     align-items: center;
  //     padding: 10px 16px;
  //     font-size: 116px;
  //     background-color: rgb(99, 161, 187); /* основной фон */
  //     color: black;
  //     border: none;
  //     border-radius: 8px;
  //     margin-bottom: 10px;
  //     cursor: pointer;
  //     text-decoration: none;
  //     transition: background-color 0.3s ease, box-shadow 0.3s ease;
  // }

  // .nav-btn i {
  //     margin-right: 10px;
  // }

  // .nav-btn:hover {
  //     background-color: #87c3dd;
  // }

  // .nav-btn.active {
  //     background-color: #87c3dd;
  //     box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
  // }

